__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.venv/
venv/

.env
.env.production
.env.development
!.env.example

vector_db/
downloads/
downloades/
*.db
*.sqlite3
*.pt
*.bin
*.ckpt

.vscode/
.idea/

.DS_Store
Thumbs.db

